
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  background-color: #A6B7E7;
  font-family: century gothic;
}



.sidebar {
  position: fixed;
  margin-left: 0;
  margin-top: 0;
  height: 100%;
  background-color: #AFAFB4;
  width: 365px;
  border: 2px solid #64646A;
  z-index: -1;
}

.titlebar {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #4C4C4F;
  color: #AFAFB4;
  text-align: center;
  font-size: 40px;
  font-family: century gothic;
  border: 2px solid #64646A;
  padding: 0;
  margin:0;

}

.titlebar p {
  position: relative;
  margin-top: 20px;
}

.ui-widget {

  position: fixed;
  margin-left: 10px; 

}

#search {
  margin-top: 100px;
}

#result_box {
  position: fixed;
  margin-top: 100px;
  margin-left: 500px;
  font-size: 20px;
}

#result_label {
  position: fixed;
  margin-top: 3px;
}

#log {
  height: 25px;
  width: 340px;
  margin-top: 3px;
  margin-left: 75px;
  overflow: auto;
}

#charts {
  padding: 10px 0;
}

.chart {

  height: 151px;
}

#factor1-chart {
  position: fixed;
  margin-left: 550px;
  margin-top: 200px;
}

#factor2-chart {
  position: fixed;
  margin-left: 950px;
  margin-top: 200px;
}

#factor3-chart {
  position: fixed;
  margin-left: 550px;
  margin-top: 400px;
}

#factor4-chart {
  position: fixed;
  margin-left: 950px;
  margin-top: 400px;
}

#chart-1-label {

}

#chart-2-label {
}

#chart-3-label {

}

#chart-4-label {

}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}
